<form name="" id="" action="" method="post" enctype="multipart/form-data">
<div class="form-area">




<div class="form-group">
<div class="row">
<div class="col-md-6">
<label>Company Name :  </label>
<input class="form-control" type="text" name="" id="" required>
</div>
</div>
</div>




<div class="form-group">
<div class="row">
<div class="col-md-6">
<label>Country :  </label>
<input class="form-control" type="text" name="" id="" required>
</div>
</div>
</div>



<div class="form-group">
<div class="row">
<div class="col-md-6">
<label>Worker :  </label>
<input class="form-control" type="text" name="" id="" required>
</div>
</div>
</div>



<div class="form-group">
<div class="row">
<div class="col-md-6">
<label>Total Job Categories :  </label>
<input class="form-control" type="text" name="" id="" required>
</div>
</div>
</div>


<div class="form-group">
<div class="row">
<div class="col-md-6">
<label>Job Description :   </label>
<textarea class="form-control"></textarea>
</div>
</div>
</div>


<div class="form-group">
<div class="row">
<div class="col-md-6">
<label>Contract Period :  </label>
<input class="form-control" type="text" name="" id="">
</div>
</div>
</div>


<div class="form-group">
<div class="row">
<div class="col-md-6">
<label>Working Days :  </label>
<input class="form-control" type="text" name="" id="">
</div>
</div>
</div>





<div class="form-group">
<div class="row">
<div class="col-md-6">
<label>Attach Demand :  </label>
<input class="form-control" type="text" name="" id="" required>
</div>
</div>
</div>



</div><!--form-area-->





<button type="submit" name="" id="" class="btn btn-primary contibtn">Submit</button>
</form>