

<link rel="stylesheet" type="text/css" href="slide/css/layout.css" />
<link rel="stylesheet" type="text/css" href="slide/css/style.css" />

<script language="javascript" type="text/javascript" src="slide/js/jquery.easing.js"></script>
<script language="javascript" type="text/javascript" src="slide/js/script.js"></script>
<script type="text/javascript">
 $(document).ready( function(){	
		$('#lofslidecontent45').lofJSidernews( { interval:3000,
											 	easing:'easeInOutQuad',
												duration:1300,
												auto:true } );						
	});

</script>
<style>
	
	ul.lof-main-wapper li {
		position:relative;	
	}
</style>



	<div id="container" style="float:left;width:640px;position:relative;">
    		
<!------------------------------------- THE CONTENT ------------------------------------------------->
<div id="lofslidecontent45" class="lof-slidecontent">
<div class="preload"><div></div></div>
 <!-- MAIN CONTENT --> 
  <div class="lof-main-outer">
  	<ul class="lof-main-wapper">
  		<li>
        		<img src="sfile/aakash.jpg" title="Newsflash 2">           
                 <div class="lof-main-item-desc">
                <h3><a target="_parent" title="Newsflash 2" href="#">Chairman's Message</a></h3>

                <p>Aakash Pun Executive Chairman</p>
             </div>
        </li> 
        
        <li>
        		<img src="sfile/team.jpg" title="Newsflash 2">           
                 <div class="lof-main-item-desc">
                <h3><a target="_parent" title="Newsflash 2" href="#">About Deluxe</a></h3>

                <p>We are a team of highly trained & dedicated staffs.</p>
             </div>
        </li> 
        
          <li>
        		<img src="sfile/mv.jpg" title="Newsflash 2">           
                 <div class="lof-main-item-desc">
                <h3><a target="_parent" title="Newsflash 2" href="#">Mission and Vision</a></h3>

                <p>Our mission and vision are as follows</p>
             </div>
        </li> 
        
      	 <li>
        		<img src="sfile/dest.jpg" title="Bhaktapur">           
                 <div class="lof-main-item-desc">
                <h3><a target="_parent" title="Bhaktapur" href="#">Destinations</a></h3>

                <p>We provide overseas employment services to following countries.</p>
             </div>
        </li>
         <li>
        		<img src="sfile/hiw.jpg" title="Bhaktapur">           
                 <div class="lof-main-item-desc">
                <h3><a target="_parent" title="Bhaktapur" href="#">How it Works?</a></h3>

                <p>See in details how we select our employees.</p>
             </div>
        </li>
      </ul>  	
  </div>
  <!-- END MAIN CONTENT --> 
    <!-- NAVIGATOR -->

  <div class="lof-navigator-outer" >
  		<ul class="lof-navigator">
            <li>
            	<div>
                	<img src="sfile/1.jpg" />
                	
                </div>    
            </li>
            
             <li>
            	<div>
                	<img src="sfile/smalllogo.jpg" />
                	
                </div>    
            </li>
            
             <li>
            	<div>
                	<img src="sfile/2.jpg" />
                	
                </div>    
            </li>
            
            <li>
            	<div>
                	<img src="sfile/3.jpg" />
                	
                </div>    
            </li>  
             <li>
            	<div>
                	<img src="sfile/4.jpg" />
                	
                </div>    
            </li>      		
        </ul>
  </div>
 </div> 

<!------------------------------------- END OF THE CONTENT ------------------------------------------------->
</div>